<ion-menu contentId="main-content">

  <ion-header>

    <ion-toolbar>
      <ion-title><h1>
        <b class="coolvetica">Painting </b> 
         <b class="Comfortaa-Light">Gizmo </b> 
       <b>
        αlfa 
       </b>  
       </h1></ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-content class="ion-padding backgroundMenu">

  <ion-grid>
    <ion-row>
      <ion-item href="../home" class="item-menu Comfortaa-Light " lines="none">
        <ion-icon name="easel" slot="start"></ion-icon>
        Minhas Obras-Primas
        
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item href="../trash-bin" class="item-menu Comfortaa-Light" lines="none">
        <ion-icon name="trash" slot="start"></ion-icon>
        Lixeira
      </ion-item>
    </ion-row>
    
    <ion-row>
      <ion-item class="item-menu item-selected" lines="none">
        <ion-icon name="heart" slot="start"></ion-icon>
        <b> Sobre nós </b>
      </ion-item>      
    </ion-row>
  </ion-grid>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <b class="Comfortaa-Light"> Sobre </b>
     <ion-text class="coolvetica"> Nós</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" id="main-content">
  <div style="text-align: center;">
  <h2>
    Feito por: <br> <b>Ulisses Cardoso</b> e<br> <b>Maria Luiza Belem</b>
  </h2>
</div>
</ion-content>
